body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    font-size: 15px;
    line-height: 1.5;
    color: #44c0c2;
}

*,
*::before,
*:after {
    box-sizing: border-box;
}
.container {
    width: 100%;
    max-width: 1200px;
    padding: 0 15px;
   margin: 0 auto;
}

/* Intro */

.intro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background: 
    url("../Agency/img/Base.jpg") center no-repeat;
    background-size: cover;
    margin-bottom: 105px;
    

}
.intro_suptitle {
    font-size: 60px;
    color: #f8f9fb;
    font-weight: 700;

}
.intro_title {
    font-size: 23px;
    color: #f8f9fb;
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 50px;
}
.intro_inner {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;

}
.intro_btn {
    font-size: 0;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}

.intro_btn::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #49cbcd;
    border-left: 2px solid #49cbcd;
    transform: rotate(-45deg);
}
.intro_btn--prev {
    left: 150px;
    
}
.intro_btn--next {
    right: 150px;
   transform: rotate(180deg);
}



/* Header */

.header {
   position: relative;
   margin: 0;
}
header.fixed { 
    background-color: #84cbbd;
    position: fixed;
    width: 100%;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
   
}
.header_inner {
display: flex;
justify-content: space-between;
align-items: center;


}
.header_logo {
    font-size: 43px; 
    font-weight: 400;
    font-family: 'Lobster', cursive;
    cursor: pointer;
}


/* Nav */

.nav {
    font-size: 14px;
    padding-top: 30px;
    padding-bottom: 30px;
    
}
.nav_link {
    display: inline;
    vertical-align: top;
    margin: 0 15px;
    color: #4e525d;
    text-decoration: none;
    transition: all 0.2s ease-in-out;
    position: relative;
    border: thin none transparent;
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 30px;
    padding-bottom: 30px;
}
.nav_link.active {
    color: #49cbcd;
    background-color: #f8f9fb; 
}
.nav_link:after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    position: absolute;
    background-color: #55b5bb;
    opacity: 0;
    top: 100%;
    left: 0;
    z-index: 1;
    transition: all 0.3s ease-in-out;
    
}
.nav_link:hover {
    color: #49cbcd;
    background-color: #f8f9fb; 
}
.nav_link:hover:after {
    opacity: 1;
}

.nav-toggle {
    display: none;
  width: 30px;
  padding: 10px 0;

  font-size: 0;
  color: transparent;
  border: 0;
  background: none;
  cursor: pointer;
  position: absolute;
  top: 50%;
  right: 10%;
  z-index: 1;
}

.nav-toggle:focus {
      outline: 0;
  }
  .nav-toggle.active .nav-toggle__item {
      background: none; 
  }
     .nav-toggle.active .nav-toggle__item:before {
          transform-origin: left top;
          transform: rotate(45deg) translateX(-3px);
      }
      .nav-toggle.active .nav-toggle__item:after {
        transform-origin: bottom left;
          transform: rotate(-45deg) translateX(-3px);  
      }
   
  .nav-toggle__item {
    display: block;
      width: 100%;
      height: 3px;
      background-color: #44c0c2;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      margin: auto;
      transition: all 0.2s ease-in-out;
  }
  .nav-toggle__item:before,
  .nav-toggle__item:after {
        content: "";
        position: absolute;
        left: 0;
        z-index: 1;
        width: 100%;
        height: 3px;
        background-color: #44c0c2; 
    transition: transform 0.5s ease-in-out;  
}
.nav-toggle__item:before {
          top: -8px;
      } 
      .nav-toggle__item:after {
          top: 8px;
      }   

/* Buttons */

.btn {
  display: inline-block;  
  vertical-align: top;
  color: #f8f9fb;
  font-size: 26px;
  text-decoration: none;
  border: 2px solid #f8f9fb;
  padding: 8px 30px;
  font-weight: 700;
  transition: all 0.3s ease-in-out;
  border-radius: 10px;

}
.btn:hover {
    background-color:#f8f9fb; 
    color: #49cbcd;
}
.service_btn {
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    background-color: #49cbcd;
    font-size: 14px;
    border: 2px solid #49cbcd;
    border-radius: 3px;
    padding: 6px 12px;
    transition: all 0.3s ease-in-out;

}
.service_btn:hover {
    color: #49cbcd;
    background-color: #ffffff;
}

.portfolio_btn {

    text-decoration: none;
    color: #ffffff;
    background-color: #49cbcd;
    font-size: 24px;
    border: 2px solid #49cbcd;
    border-radius: 3px;
    padding: 20px 40px; 
    text-align: center;
    display: inline-block;  
    vertical-align: top;
    margin-top: 55px;  
    transition: all 0.3s ease-in-out;
} 
.portfolio_btn:hover {
    color: #49cbcd;
    background-color: #ffffff;
}

.plan_btn {
    text-decoration: none;
    color: #ffffff;
    background-color: #788492;
    font-size: 20px;
    border: 2px solid #788492;
    border-radius: 3px;
    padding: 6px 35px;
    margin: 25px 0; 
    display: inline-block;  
    transition: all 0.3s ease-in-out;
}



/*  Service */

.service {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 100px;
    
}
.service_item {
    width: 24%;
    text-align: center;
}
.service_icon {
    padding-bottom: 50px;
}
.service_titles {
    color: #4e525d;
    font-size: 22px;

}
.service_text {
    color: #4e525d;
    font-size: 14px;
    padding: 24px 25px;
}

/* Portfolio */

.portfolio {
    
    background-color: #f1f1f1;
    text-align: center;
    padding-bottom: 120px;
    margin-bottom: 90px;
    
}

.portfolio_title {
font-size: 42px;
color: #4e525d;
text-align: center;
padding-top: 55px;
padding-bottom: 60px;
}

.portfolio_items {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 100%;
    height: auto;
    padding-bottom: 15px;

}
.portfolio_img {
    padding-right: 10px;
}
.portfolio_img:last-child {
    padding-right: 0;
}
.portfolio_img img {
    max-width: 100%;
}

/* The Team*/

.team {
    display: flex;
    
}
.team_title {
text-align: center;
font-size: 42px;
color: #4e525d;
margin-bottom: 125px;

}

.team_item {
    flex: 1 1 0;
    text-align: center; 
    transition: opacity 0.3s ease-in-out;
    padding-bottom: 20px;
}
.team_item:hover .team_background {
    opacity: 1;
}
.team_img {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 70px;
    position: relative; 
}
.team_background {
    width: 180px;
    height: 180px;
    border-radius: 50%;
    margin-bottom: 70px;
    position: absolute; 
    transform: translateX(-100%);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.team_name {
    color: #4e525d;
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 5px;
    transition: all 0.2s ease-in-out;
}

.team_prof {
    color: #4e525d;
    font-size: 14px;
    font-weight: 300; 
    margin-bottom: 25px; 
}
.team_text {
    font-weight: 300; 
    color: #4e525d;
    font-size: 14px; 
    padding: 0 15px;
}


/* Table */

.plan-table {
    background-color: #f1f1f1;
    margin: 100px 0;
    padding: 100px 0;
    
}


.plan_items {
   display: flex;
    text-align: center;
    
}
.plan {
    flex: 1 1 0;
    border: 1px solid #ecf0f1;
    margin: 0 5px;
    background-color: #f8f9fb;
    transition: all 0.2s ease-in-out;
}

.plan_header {
font-size: 26px;
color: #ffffff;
background-color: #485460;
padding: 10px 0;
transition: all 0.2s ease-in-out;
}

.plan:hover .plan_header {
    color: #f5fcfc;;
    background-color: #49cbcd;
}

.plan:hover .plan_btn {
    color: #f5fcfc;;
    background-color: #49cbcd;
    border: 2px solid #49cbcd;
}
.price {
    font-size: 20px;
    color: #485460;
    background-color: #f8f9fb;
    padding: 15px 0;
}

ul {
    color: #8c9299;
    font-size: 14px;
    background-color: #ffffff;
    list-style: none;
    text-align: center;
    padding: 0;
    margin: 0;
}

li {
    padding: 10px 0;
    border: 1px solid #ecf0f1;
    
}



/* Reviews */

.reviews {
    margin: 100px 0;
    position: relative;
}
.reviews_item.active{
    display: block;
    padding: 0 240px;
    text-align: center;
    
}
.reviews_item {
    display: none;
}

.reviews_title {
    color: #4e525d;
    font-size: 42px;
}

.reviews_text {
    color: #4e525d;
    font-size: 19px;
    font-weight: 200;
    margin: 40px 0;
}

.reviews_name {
    color:#9a8faf;
    font-size: 21px;
}
.reviews_btn {
    font-size: 0;
    color: transparent;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
}
.reviews_btn::after {
    content: "";
    display: block;
    width: 16px;
    height: 16px;
    border-top: 2px solid #ccc;
    border-left: 2px solid #ccc;
    
    transform: rotate(-45deg);
}
.reviews_btn--prev {
    left: 150px;
}
.reviews_btn--next {
    right: 150px;
    transform: rotate(180deg);
}


/* Footer */


.footer {
    
    width: 100%;
    height: 100vh;
    background: 
    url("../Agency/img/Footer.png") center no-repeat;
    background-size: cover;
}

.footer_title {
    color: #ffffff;
    font-size: 42px;
    text-align: center;
    font-weight: 200;
    padding: 100px 0;
}

.footer_inner {
    display: flex;
}

.footer_col {
    flex: 1 1 0;
    padding-bottom: 20px;
}

.footer_touch {
    color: #ffffff;
    font-size: 24px;
}

.footer_text {
    color: #ffffff;
    font-size: 14px;
    padding-bottom: 30px;
    padding-right: 130px;
}
.footer_social {
margin: 20px 0;
}

.facebook {

    border-radius: 90px;
}
.twitter {
    border-radius: 90px;
}
.google {
    border-radius: 90px;
}

.footer_contacts {
    display: flex;
    flex-direction: column;
    
}

.contacts {
    text-decoration: none;
    color: #bface2;
    font-size: 14px;
}


.form {
    display: inline-block;
    text-align: right;
    width: 570px;
    
}

.form_name {
    width: 45%;      
    
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    padding: 6px 10px;
    border: 0;
    background-color: #ffffff;
}

.form_email {
    width: 49%;
    margin-left: 30px;
    
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    padding: 6px 10px;
    border: 0;
}
.form_message {
    height: 170px;
    width: 100%;
    margin: 30px 0;
    
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    padding: 6px 10px;
    border: 0;
}

.form_btn {
    color: #c5c5c5;
    font-size: 22px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 2px;
    padding: 6px 30px;
    background-color: #ffffff;
    cursor: pointer;
    border: 0;
    transition: all 0.2s ease-in-out;
}

.form_btn:hover {
    color: #ffffff;
    background-color: #49cbcd;
}

.form_name::placeholder {
    color: #c1c1c1;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.form_email::placeholder {
    color: #c1c1c1; 
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}
.form_message::placeholder {
    color: #c1c1c1;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
}


@media (max-width: 1200px) {

    /* Intro */ 


  .intro_suptitle {
      font-size: 50px;
  }
    .intro_title {
       font-size: 20px;
   }
   .btn {
    font-size: 20px;
    padding: 7px 24px;
   }
   .intro {
       margin-bottom: 70px;
       height: 100%;
       min-height: 845px;
   }

   /* Service */

   .service_icon {
    padding-bottom: 40px;
}
.service_titles {
    font-size: 20px;

}
.service_text {
    font-size: 13px;
    padding: 20px 23px;
} 
/* Portfolio */

.portfolio {
    padding-bottom: 100px;
    margin-bottom: 80px;
    
}

.portfolio_title {
    font-size: 32px;
    padding-top: 40px;
    padding-bottom: 45px;
    }

    /* The Team */

    .team_title {
        font-size: 38px;
        margin-bottom: 100px;
        
        }
}

@media (max-width: 990px) {

     /* Intro */ 

     .intro_inner {
        padding-bottom: 80px;
    }
    .intro_suptitle {
        font-size: 40px;
    }
      .intro_title {
         font-size: 18px;
     } 
     .btn {
        font-size: 18px;
        padding: 6px 20px;
       }
       .intro {
        margin-bottom: 50px;
        min-height: 785px;
    }
    .intro_btn--prev {
       left: 10%;
        
    }
    .intro_btn--next {
        right: 10%;
    }
    /* Service */

   .service_icon {
    padding-bottom: 25px;
}
.service_titles {
    font-size: 18px;

}
.service_text {
    font-size: 12px;
    padding: 18px 20px;
}
/* Portfolio */

.portfolio {
    padding-bottom: 80px;
    margin-bottom: 70px;
    
}
.portfolio_title {
    font-size: 25px;
    padding-top: 30px;
    padding-bottom: 35px;
    
    }

     /* The Team */

     .team_title {
        font-size: 35px;
        margin-bottom: 70px;
        }

         /*  Plan-table */

    .plan-table {
        margin: 50px 0;
        padding: 50px 0;
    }

    /* Reviews */

    .reviews {
        margin: 50px 0;
    }
    .reviews_item {
        padding: 0 150px;
    }
    .reviews_title {
        font-size: 32px;
    }
    .reviews_text {
        font-size: 15px;
        margin: 30px 0;
    }
    .reviews_btn--prev {
        left: 100px;
    }
    .reviews_btn--next {
        right: 100px;
    }

    /* Footer */

    .footer_title {
        font-size: 35px;
        padding: 40px 0;
     }
        
     .footer_inner {
        flex-direction: column;
        align-items: center;
        text-align: center;

    }
     .footer_contacts {
        padding-bottom: 15px;
     }
    .footer_social {
        margin: 10px 0;
    }
    .footer_touch {
        font-size: 20px;
    }
    .footer_text {
        padding: 5px 150px;
    }
}

@media (max-width: 770px) {

    /* Header */ 
    
  .nav {
    display: none;  
    font-size: 14px;
    padding: 0;
    position: absolute;
    top: 100%;
    width: 100%;
    background-color: #fff;
    z-index: 1000;
    left: 0;  
}
    .nav.active {
        display: block;
    }
.nav_link {
    display: block;  
    margin: 0;
    padding: 10px;
}
  .nav-toggle {
    display: block;
  }
  /* Intro */ 

   .intro {
    height: auto;
}

 .intro_inner {
    padding-bottom: 0;
}
.intro_suptitle {
    font-size: 35px;
}
.intro_btn--prev {
    top: 35%;
     
 }
 .intro_btn--next {
    top: 35%;
 }

  /* Service */

.service_item {
    width: 50%;
    padding-bottom: 20px;
}

  /* The Team */

  .team {
      flex-wrap: wrap;
  }
  .team_img img {
      max-width: 100%;
  }
  .team_background img {
      max-width: 100%;
  }
  .team_name {
    font-size: 18px;
}

.team_prof {
    font-size: 12px; 
    margin-bottom: 20px; 
}

/* Reviews */

.reviews {
    margin: 40px 0;
}
.reviews_item {
    padding: 0 150px;
}
.reviews_title {
    font-size: 28px;
}
.reviews_text {
    font-size: 14px;
    margin: 20px 0;
}
.reviews_name {
    font-size: 16px;
}
.reviews_btn--prev {
    left: 80px;
}
.reviews_btn--next {
    right: 80px;
}

/* Footer */

.footer_title {
    font-size: 25px;
    padding: 50px 0;
 }
 .footer_touch {
    font-size: 20px;
}

.footer_text {
    font-size: 14px;
    padding: 5px 150px;
}  

}
@media (max-width: 575px) {

    /* Intro */ 

   .intro_suptitle {
       font-size: 20px;
   }
     .intro_title {
        font-size: 9px;
        padding: 15px 10px;
    } 
    .btn {
        font-size: 10px;
        padding: 5px 14px;
       }
       .intro {
        margin-bottom: 40px;
        min-height: 565px;
    } 
    
    /* Service */

    .service_item {
        width: 100%;
        padding: 20px 50px;
    }
   .service_icon {
    padding-bottom: 20px;
}
.service_titles {
    font-size: 15px;

}
.service_text {
    font-size: 11px;
    padding: 16px 18px;
}

/* Portfolio */

.portfolio {
    padding-bottom: 50px;
    margin-bottom: 50px;
    
}
.portfolio_title {
    font-size: 22px;
    padding-top: 15px;
    padding-bottom: 15px;
    }

    .portfolio_items {
        flex-wrap: wrap;
        justify-content: center;
        max-width: 100%;
    
    }
    .portfolio_img {
        padding-right: 0;
        padding-bottom: 10px;
    }
    .portfolio_img:last-child {
        padding-bottom: 0;
    }
    .portfolio_img img {
        max-width: 100%;
    
    }

    /* The Team */

    .team_title {
        font-size: 30px;
        margin-bottom: 60px;
        
    }

    /*  Plan-table */

    .plan_header {
        font-size: 20px;
    }
    .plan_items {
        flex-wrap: wrap;
        justify-content: center;
    }
    .plan{
         flex: none ;
         width: 50%;
         margin: 5px;
     }
    
     .price {
         font-size: 15px;
         padding: 5px 0;
     }
     ul {
        font-size: 12px;
     }
     li {
        padding: 5px 0;
     }
     .plan_btn {
        font-size: 15px;
        padding: 3px 15px;
        margin: 15px 0;

     }
        /* Reviews */

.reviews {
    margin: 10px 0;
}
.reviews_item {
    padding: 0 50px;
}
.reviews_title {
    font-size: 17px;
}
.reviews_text {
    font-size: 10px;
    margin: 15px 0;
}
.reviews_name {
    font-size: 14px;
}
.reviews_btn--prev {
    left: 30px;
}
.reviews_btn--next {
    right: 30px;
}

    /* Footer */

    .footer {
        min-height: 565px;
        height: auto;
    }
    .form {
        text-align: center;
        width: 100%;
     }

    .footer_title {
        font-size: 22px;
        padding: 15px 0;
     }
     .footer_touch {
        font-size: 12px;
    }
    
    .footer_text {
        font-size: 10px;
        padding: 5px 50px;
    } 
    
    .form_name {
        width: 50%;  
        margin-bottom: 10px;    
    }
    
    .form_email {
        width: 50%;
        margin-left: 0;
        margin-bottom: 10px; 
    }
    .form_message {
        height: 50%;
        width: 50%;
        margin-bottom: 10px; 
        margin-top: 0;
    }
    
    .form_btn {
        width: 30%;
        text-align: center;
        font-size: 12px;
    }
    

}